<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav__logo">
                로고
            </div>
            <ul class="nav__li">
                <li>travel</li>
                <li>trip</li>
                <li>여행</li>
                <li>떠나자</li>
            </ul>
        </nav>
        <div class="main">
            <div class="main--event">

            </div>
        </div>
    </header>
    <footer>Footer456</footer>
    
</body>
</html>
