:root {
    color: --black(#181823);
    color: --blue(#537FE7);
    color: --sky(#C0EEF2);
    color: --white(#E9F8F9);
  }
/* * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    min-height: 100vh;
}
header{
    max-width: 100%;
    background-color: tomato;
    position: fixed;
}
main{
    max-width: 90%;
    background-color: wheat;
}

footer{
    max-width: 100%;
    background-color: teal;
} */

body{
    min-height: 100vh;
}
header {
    height: 100vh;
    min-height: 100%;
    padding-bottom: 30rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__li{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    height: 100vh;
    min-height: 100%;
}
.carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carousel__img{
    width: 30rem;
    height: 40rem;
    border: 5px solid var(--blue);
}
footer {
    background-color: #537FE7;
    position: fixed;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

footer.show {
    opacity: 1;
}